caption {
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}

table {
    width: 40%;
    position: relative;
    left: 30%;
    background-color: #8165c4;
    border-collapse: collapse;
}

img {
    width: 300px;
    height: 150px;
    margin: 10px;
}


.td2 {
    width: 60%;
    text-align: right;
    padding-right: 10px;
}

tr {
    background-color: #b1a0d8;
    border-radius: 15px;
}

tfoot tr td {
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: right;
    padding-right: 20px;
}

.btn {
    border: 1px solid black;
    padding: 5px;
    background-color: lightgreen;
}

.spacing {
    height: 10px;
}

.price {
    display: inline-block;
    margin-left: 5px;
    background-color: #6c5d5d;
    padding: 5px 10px;
    color: #41ff41;
    width: 100px;
    text-align: center;
}

.discount {
    text-align: center;
    display: inline-block;
    margin-left: 5px;
    background-color: #1f940b;
    padding: 5px 10px;
    color: #41ff41;
    width: 60px;
}