<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../../css/mainStyle.css">
    <link rel="stylesheet" href="../../css/games/game-store.css">
    <style>

    </style>
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <img src="../../images/logo3.png" alt="" id="logo1">
            <span id="navText">Game Fighter</span>
            <ul class="menu1">
                <li>會員中心<i class="fa-solid fa-caret-down"></i>
                    <ul class="menu2">
                        <li>遊戲發表會</li>
                        <li>功能介紹</li>
                        <li>你在哪哩拉哈哈</li>
                    </ul>
                </li>
                <li>遊戲商店<i class="fa-solid fa-caret-down"></i>
                    <ul class="menu2">
                        <li>遊戲發表會</li>
                        <li>功能介紹</li>
                        <li>你在哪哩拉哈哈</li>
                    </ul>
                </li>
                <li>遊戲物品交易<i class="fa-solid fa-caret-down"></i>
                    <ul class="menu2">
                        <li>遊戲發表會</li>
                        <li>功能介紹</li>
                        <li>你在哪哩拉哈哈</li>
                    </ul>
                </li>
                <li>討論區<i class="fa-solid fa-caret-down"></i>
                    <ul class="menu2">
                        <li>遊戲發表會</li>
                        <li>功能介紹</li>
                        <li>你在哪哩拉哈哈</li>
                    </ul>
                </li>
                <li>尋找玩伴<i class="fa-solid fa-caret-down"></i>
                    <ul class="menu2">
                        <li>遊戲發表會</li>
                        <li>功能介紹</li>
                        <li>你在哪哩拉哈哈</li>
                    </ul>
                </li>
                <li>活動<i class="fa-solid fa-caret-down"></i>
                    <ul class="menu2">
                        <li>遊戲發表會</li>
                        <li>功能介紹</li>
                        <li>你在哪哩拉哈哈</li>
                    </ul>
                </li>
                <li>後台管理<i class="fa-solid fa-caret-down"></i>
                    <ul class="menu2">
                        <li><a href="">公告管理</a></li>
                        <li>功能介紹</li>
                        <li>你在哪哩拉哈哈</li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <aside class="leftMenu">
            <h2>遊戲分類</h2>
            <ul>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
                <li><a href="">測試拉哈哈哈哈</a></li>
            </ul>
        </aside>
        <article class="content">
            <section>
                <h2>遊戲列表</h2>
                <table class="gameList">
                    <tr>
                        <td class="td1"><img class="gamePhoto" src="../../images/logo3.png" alt=""></td>
                        <td class="td2">
                            <span>遊戲</span><br><br>
                            <span class="categorys">測試</span>
                            <span class="categorys">測試</span>
                            <span class="categorys">測試</span>
                            <span class="categorys">測試</span>
                            <br><br>上市日期<br><br>評論
                        </td>
                        <td class="lastTD">
                            <br><br><br><br>
                            <span class="space1"></span>
                            <span class="priceTop"></span>
                            <span class="space2"></span>
                            <br>
                            <span class="discount">優惠</span>
                            <span class="price">價格</span>
                            <span class="btn">加入購物車</span>
                        </td>
                    </tr>
                    <tr class="spacing"></tr>
                </table>
            </section>
        </article>
    </main>
    <a href="#"><i class="fa-solid fa-arrow-up top"></i></a>


    <script src="../../js/jquery-3.7.1.js"></script>
    <script src="../../js/mouse.js"></script>
</body>

</html>