<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../../css/mainStyle.css?v=1.0">
    <link rel="stylesheet" href="../../css/buy/showCarts.css?v=1.0">
    <title>購物車</title>
</head>

<body>
    <header>
        <nav>
            <img src="../../images/logo3.png" alt="" id="logo1">
            <span id="navText">Game Fighter</span>
            <ul class="menu1">
                <li>會員中心<i class="fa-solid fa-caret-down"></i>
                    <ul class="menu2">
                        <li>遊戲發表會</li>
                        <li>功能介紹</li>
                        <li>你在哪哩拉哈哈</li>
                    </ul>
                </li>
                <li>遊戲商店<i class="fa-solid fa-caret-down"></i>
                    <ul class="menu2">
                        <li>遊戲發表會</li>
                        <li>功能介紹</li>
                        <li>你在哪哩拉哈哈</li>
                    </ul>
                </li>
                <li>遊戲物品交易<i class="fa-solid fa-caret-down"></i>
                    <ul class="menu2">
                        <li>遊戲發表會</li>
                        <li>功能介紹</li>
                        <li>你在哪哩拉哈哈</li>
                    </ul>
                </li>
                <li>討論區<i class="fa-solid fa-caret-down"></i>
                    <ul class="menu2">
                        <li>遊戲發表會</li>
                        <li>功能介紹</li>
                        <li>你在哪哩拉哈哈</li>
                    </ul>
                </li>
                <li>尋找玩伴<i class="fa-solid fa-caret-down"></i>
                    <ul class="menu2">
                        <li>遊戲發表會</li>
                        <li>功能介紹</li>
                        <li>你在哪哩拉哈哈</li>
                    </ul>
                </li>
                <li>活動<i class="fa-solid fa-caret-down"></i>
                    <ul class="menu2">
                        <li>遊戲發表會</li>
                        <li>功能介紹</li>
                        <li>你在哪哩拉哈哈</li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <article>
            <section>
                <table>
                    <caption>誰的購物車</caption>
                    <tbody>
                        <tr>
                            <td class="td1"><img class="gamePhoto" src="../../images/logo3.png" alt=""></td>
                            <td class="td2">
                                <p style="text-align: left;font-size: 24px;">遊戲名稱</p>
                                <br><br><br><br>
                                <span class="space1"></span>
                                <span class="priceTop"></span>
                                <span class="space2"></span>
                                <br>
                                <span class="discount">優惠</span>
                                <span class="price">價格</span>
                            </td>
                        </tr>
                        <tr class="spacing"></tr>
                        <tr>
                            <td class="td1"><img class="gamePhoto" src="../../images/logo3.png" alt=""></td>
                            <td class="td2">
                                <p style="text-align: left;font-size: 24px;">遊戲名稱</p>
                                <br><br><br><br>
                                <span class="space1"></span>
                                <span class="priceTop"></span>
                                <span class="space2"></span>
                                <br>
                                <span class="discount">優惠</span>
                                <span class="price">價格</span>
                            </td>
                        </tr>
                        <tr class="spacing"></tr>
                        <tr>
                            <td class="td1"><img class="gamePhoto" src="../../images/logo3.png" alt=""></td>
                            <td class="td2">
                                <p style="text-align: left;font-size: 24px;">遊戲名稱</p>
                                <br><br><br><br>
                                <span class="space1"></span>
                                <span class="priceTop"></span>
                                <span class="space2"></span>
                                <br>
                                <span class="discount">優惠</span>
                                <span class="price">價格</span>
                            </td>
                        </tr>
                        <tr class="spacing"></tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td>
                                <a href="" class="btn">結帳</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </section>
        </article>
    </main>
</body>

</html>