<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>市集後台</title>
    <link rel="stylesheet" href="../../css/market/style.css" />
  </head>
  <body>
    <form action="../GetAllGames">
      <input type="submit" value="市集" />
    </form>
    <header>
      <div class="search">
        <h1>遊戲道具交易後台</h1>
        <form action="">
          <label for="SelectGame">遊戲選單:</label>
          <select id="SelectGame">
            <option value=""></option>
            <option value="option1">選項1</option>
            <option value="option2">選項2</option>
            <option value="option3">選項3</option>
          </select>
          <input type="submit" value="確認" />
        </form>
      </div>
      <nav>
        <ul>
        </ul>
      </nav>
    </header>
  </body>
</html>
