@import url("webPage.css");
@import url("tableStyle.css");
@import url("home.css");

div.page{
    width: 100%;
    height: 100%;

    h3.hint{
        color: red;
        font-weight: 600;
    }
}

html,body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    /* flex-direction: column; */

    .allpage{
        /* flex: 1; */
        overflow: auto;
    }
}

div.page{

    h1{
        display: inline-block;
    }

    div.buttons{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    h3.hint{
        margin-top: 10px;
    }

    button.button{
        margin-top: 20px;
    }

    button.search{
        margin-top: 0;
    }

    .update,.delete,
    .submit,.cancel{
        display: none;
    }
}

dialog{
    margin: auto;

    &::backdrop {
        background-color: gray;
        opacity: 0.5;
    }
}

div.pagebtns{
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}