article {
    width: 100%;
    height: 75vh;
    background-color: #79aaf7;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 24px;
    overflow: auto;
}

table thead th:nth-child(1),
table thead th:nth-child(4),
table thead th:nth-child(5){
    width: 120px;
}

table thead th:nth-child(2){
    width: 80px;
}

table thead th {
    width: 150px;
}

table thead {
    background-color: rgba(255, 255, 255, 0.8);
}

table tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2);
}

table tbody td {
    font-weight: normal;
}

table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.4);
}

table tbody tr.selected,
table tbody tr.action{
    background-color: aqua;
    border-radius: 3px;
}
table{
    width: 100%;
    
    th,td{
        text-align: center;
    }
}
