@charset "utf-8";
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.sidebar {
	background-color: #fff;
	width: 200px;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	transition: margin-left 0.3s ease;
}

.content {
	margin-left: 200px;
	margin-right: 50px;
	padding: 20px;
}

a {
	text-decoration: none;
	color: inherit;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 8px;
	text-align: center;
	border: 1px solid #ddd;
}

tr {
	border-radius: 10px;
}

th {
	background-color: #f2f2f2;
}

.createButton {
	right: 10px;
	height: 31px;
	width: 45px;
	border-radius: 6px;
	background-color: rgb(0, 255, 213);
	border-color: rgba(0, 255, 255, 0.594);
}

.createButton:hover {
	border-color: rgba(0, 0, 0, 0.496);
}

.outside {
	padding: 20px;
	/* 	border: 1px solid red; */
	border-radius: 25px;
	background-color: #fff;
}

.buttonTool {
	display: flex;
	justify-content: space-between;
}

.topbar {
	
}

.sidebar {
	background-color: #fff;
	width: 200px;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	transition: margin-left 0.3s ease;
}

.sidebar ul {
	list-style-type: none;
	padding: 0;
	margin-top: 50px;
}

.sidebar li {
	margin: 5px;
	padding: 10px;
	border-radius: 15px;
	border: 2px solid #fff;
}

.sidebar li a {
	display: block;
	width: 150px;
	height: 20px;
	text-decoration: none;
	color: inherit;
}

.sidebar li:hover {
	border: 2px solid rgba(144, 144, 144, 0.5);
	transition: 1.5s ease;
}

.toggle-button {
	position: absolute;
	top: 10px;
	left: 5px;
	cursor: pointer;
	transition: margin-left 0.9s ease;
	border-radius: 25px;
}

.toggle-button:hover {
	background-color: rgba(169, 169, 169, 0.138);
}

.selectButtonDiv {
	margin: 100px
}

.modal {
	position: absolute;
	/* 绝对定位 */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	z-index: 1001;
	/* 比背景层高一层 */
	display: none;
	/* 默认隐藏 */
}